* {
  margin-left: 10px;
}

ul {
  display: table-cell;
  border-spacing: 10px;
}

li {
  float: left;
  display: table;
}

#addBtn {
  margin-bottom: 5px;
}

#newContact {
  display: none;
}

#editDiv {
  display: none;
}

#tagsDiv {
  display: none;
  margin-bottom: 15px;
}

#searchBox {
  width: 400px;
}

#newContactFormDiv {
  width: 400px;
}

#editFormDiv {
  width: 400px;
}

#cancelEdit {
  margin-top: 5px;
  margin-left: 10px;
}

.card {
  margin-bottom: 15px;
}